@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.markdown-preview h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.markdown-preview h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.markdown-preview h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdown-preview a {
  color: rgb(27, 27, 247);
}

.markdown-preview table {
  width: auto;
  max-width: 100%;
  margin-left: 0;
  margin-right: auto;
  border-collapse: collapse;
}

.markdown-preview th,
.markdown-preview td {
  border: 1px solid black;
  padding: 8px;
}

.markdown-preview th {
  background-color: #f2f2f2;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    @apply hidden;
  }
}
